<form class="form-signin" style="width: 300px" ng-submit="loginClick()" role="form">
    <h3>Login:admin, password:q1w2e3</h3>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">User name</label>
    <input type="text" i ng-model="userName" class="form-control" placeholder="User name" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>